@page "/"
@using DevToys.Api
@using DevToys.Blazor.Components

<Container>
    <h1>Welcome To Home Page</h1>
    <StackPanel Height="20">
        <Button @onclick="() => IsOpen = true">Open Dialog</Button>
        <Button>My Button</Button>
        <Button>My Button</Button>
    </StackPanel>
    <Dialog IsOpen="IsOpen" Dismissible OnDismissed="e => IsOpen = false">
        <Content>
            <StackPanel Spacing="100" HorizontalAlignment="UIHorizontalAlignment.Center" Height="30">
                <h1>Hello</h1>
                <Button @onclick="() => IsOpen = false">X</Button>
            </StackPanel>
        </Content>
    </Dialog>
    <DataGrid Columns="@((new List<string> { "WSM", "WSM2" }).ToArray())" Rows="@(new List<WSMList>(){new() { "WSM", "WSM1"}, new() { "WSM", "WSM1"}})" TRow="WSMList" TCell="string" TRowDetail="string">
        <CellTemplate>
            @context.ToString()
        </CellTemplate>
    </DataGrid>
    <PopoverProvider />
</Container>


@code {
    public bool IsOpen = false;
}